// Colors
$white: #ffffff;
$grey-light: #f2f2f2;
$black: #000000;

$adfab-yellow: #fcff00;

// Fonts
$font-din: Din, sans-serif;

// Element colors
$text-color: $white;

// Element sizes
$header-height: 108px;

// Grid system
$content-offset: 15px;
$content-offset-inner: 20px;

// Media queries breakpoints
$screen-xs-max: '(max-width: 320px)';
$screen-sm-min: '(min-width: 321px)';
$screen-sm-max: '(max-width: 768px)';
$screen-md-min: '(min-width: 768px)';
$screen-md-max: '(max-width: 1279px)';
$screen-lg-min: '(min-width: 1280px)';
