html {
  box-sizing: border-box; // applies a natural box layout model to all elements, but allowing components to change
  font-size: 62.5%; // For rem
}

* {
  margin: 0;
  padding: 0;
  &, &::before, &::after {
    box-sizing: inherit;
  }
}

a {
  color: inherit; // Avoid blue/purple default links color
}

img {
  display: inline-block; // To avoid margin bug under images
}