// Colors
@white: #fff;
@black: #000;

@adfabYellow: #fcff00;

// Fonts
@fontDin: Din, sans-serif;

// Element colors
@textColor: $black;

// Element sizes
@headerHeight: 108px;

// Media queries breakpoints
@screen-xs-max: '(max-width: 320px)';
@screen-sm-min: '(min-width: 321px)';
@screen-sm-max: '(max-width: 768px)';
@screen-md-min: '(min-width: 768px)';
@screen-md-max: '(max-width: 1279px)';
@screen-lg-min: '(min-width: 1280px)';
